body {
  margin: 50px;
  background-color: whitesmoke;
}

hr {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: thick double #333;
  color: #333;
}

header {
  background-color: #003b59;
  opacity: 80%;
  padding: 25px 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h1 {
  text-align: center;
  color: whitesmoke;
}

img {
  max-width: 300px;
  width: 50%;
  height: auto;
  padding: 0px 5px;
  vertical-align: middle;
  /* display: block; */
}

.team {
  float: left;
}

.scout {
  float: right;
}

.articleOne {
  position: relative;
  float: left;
  width: 45%;
  /* height: 75%; */
  padding: 20px 10px;
  /* background-color: lightslategray; */
}

.articleTwo {
  position: relative;
  float: right;
  width: 45%;
  /* height: 75%; */
  padding: 20px 10px;
  /* background-color: lightslategray; */
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}
